# {{ ansible_managed }}
repository_url: {{ sb_app_maven_repo }}
group_id: {{ sb_app_group_id }}
artifact_id: {{ sb_app_artifact_id }}
extension: {{ sb_app_extension }}
version: {{ sb_app_version }}
service_name: {{ sb_app_service_name }}
